* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3aafa9;
}

header {
    padding: 4rem 2rem 4rem 2rem;
    background-color: #17242a;
    color: white;
}

h2 {
    margin: 0 0 2rem 0;
}

nav {
    overflow: hidden;
    background-color: #2b7a77;
    position: relative;
}

a {
    display: block;
    float: left;
    color: white;
    margin: 0;
    padding: 1rem 2rem 1rem 2rem;
    text-decoration: none;
}

a:hover {
    background-color: #17242a;
}

section {
    padding: 2rem;
    overflow: hidden;
}

article {
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin: calc(5% /3);
    padding: 2rem;
    width: calc(90% / 3);
    background-color: #def2f1;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 3rem 2rem 3rem 2rem;
    background-color: #17242a;
    color: white;
    text-align: center;
}